NEXT_PUBLIC_API_URL=https://backend-glovia.vercel.app/api/v1
NEXT_PUBLIC_SITE_URL=https://www.glovia.com.np
NEXT_PUBLIC_SITE_NAME=Golvia Nepal

NEXT_PUBLIC_ENABLE_3D=true
NEXT_PUBLIC_ENABLE_AI_RECOMMENDATIONS=true
NEXT_PUBLIC_ENABLE_ESEWA=true
NEXT_PUBLIC_ENABLE_KHALTI=true
NEXT_PUBLIC_ENABLE_IMEPAY=true
NEXT_PUBLIC_ENABLE_COD=true

