NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/golvia

JWT_ACCESS_SECRET=replace_me_access
JWT_REFRESH_SECRET=replace_me_refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

ESEWA_MERCHANT_CODE=replace_me
ESEWA_SECRET=replace_me
KHALTI_SECRET_KEY=replace_me
IMEPAY_MERCHANT_ID=replace_me
IMEPAY_SECRET_KEY=replace_me
